body{
    background-color: #f4f4f4;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    width: 80%;
}

a{
    text-decoration: none;
    color:#000;
}

a:hover{
    color: blue;
}

.topnavbar {        
    border: 1px #f4f4f4 solid;    
    width: 100%;
    height: 3em;
    padding: 10px;    
    background-image:url("../images/topnavbar.jpeg");    
    background-size: cover;      
}

#aboutme{
    word-spacing: normal;
}

.topnavbarContent{
    position: relative;
    top: 50%;
}

.topnavbarLinks{
    position: relative;    
    float: right;
    word-spacing: 0.3em;
}

.homepage{        
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 10px;     
    width: 100%;
    height: 600px;
    padding: 10px;
    background-image: url("../images/homebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    line-height: 1em;
}

.myphoto{
    position: relative;
    float: left;
    border: 20px #ffffff solid;
    width: 30%;
    height:70%;
    top: 10%;
    left: 5%; 
    padding: 0px;   
    background-image: url("../images/me1.JPEG");
    background-size: cover;
}

.homecontent{
    position: relative;
    float: right;
    border: 20px rgb(63, 63, 63) solid;
    width: 40%;
    height:70%;
    top: 10%;
    right: 5%;    
    text-align: center;
    font-size: larger;    
    font-weight: 700;
    line-height: 2em;
    color: white;
    background-color: rgb(63, 63, 63);
}

.homecontent h1{
    font-size: 3em;
}

.homebutton{
    position: absolute;
    bottom: 3%;
    right: 50%;
    font-size: 1em;
}

.homebutton:hover{
    background-color: gray;
    color: white;
}

.homeaboutme{
    margin-top: 10px;
    border: 1px #f4f4f4 solid;    
    width: 100%;
    height: 3em;
    padding: 10px;    
    background-image:url("../images/topnavbar.jpeg");    
    background-size: cover; 
    text-align: center;
}

.homeaboutme h1{
    position: relative;
    bottom: 30%;
}

.professional{
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 30px;     
    width: 100%;
    height: 400px;
    padding: 10px;
    background-image: url("../images/professional.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    line-height: 1.5em;
    text-align: center;
}

.professional h2{
    font-weight: 1000;
    font-size: 1.5em;
}

.experience{
    float: left;
    width: 31%;
    text-align: left;
    padding: 0px 10px;
    margin: 10px;
    box-sizing: border-box;
    color: black;
    font-weight: 500;
    background-color: rgba(212, 211, 211, 0.6);  
    height: 73%;      
}


.education{
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 30px;     
    width: 100%;
    height: 400px;
    padding: 10px;
    background-image: url("../images/education.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    line-height: 1.5em;
    text-align: center;
}

.education h2{
    font-weight: 1000;
    font-size: 1.5em;
}

.schools{
    float: left;
    width: 31%;
    text-align: left;
    padding: 0px 10px;
    margin: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    color: black;
    font-weight: 500;
    background-color: rgba(174, 199, 182, 0.6);  
    height: 73%;      
}


.skills{
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 30px;     
    width: 100%;
    height: 400px;
    padding: 10px;
    background-image: url("../images/skills.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    line-height: 1.5em;
    text-align: center;
}

.skills h2{
    font-weight: 1000;
    font-size: 1.5em;
}

.projects{
    float: left;
    width: 48%;
    text-align: left;
    padding: 0px 10px;
    margin: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    color: black;
    font-weight: 500;
    background-color: rgba(146, 123, 101, 0.8);  
    height: 73%;      
}


.interests{
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 30px;     
    width: 100%;
    height: 400px;
    padding: 10px;
    background-image: url("../images/interests.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    line-height: 1.5em;
    text-align: center;
}

.interests h2{
    font-weight: 1000;
    font-size: 1.5em;
}

.interestlist{
    float: left;
    width: 70%;
    text-align: left;
    padding: 0px 10px;
    margin: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
    color: black;
    font-weight: 500;
    background-color: rgba(155, 154, 154, 0.7);  
    height: 30%;    
    position: relative;
    left:30%;     
}

.interestlist li{
    list-style-type: square;
    line-height: 2em;
}


    
