body{
    background-color: #f4f4f4;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    width: 80%;
}

a{
    text-decoration: none;
    color:#000;
}

a:hover{
    color: brown;
}

.topnavbar {        
    border: 1px #f4f4f4 solid;    
    width: 100%;
    height: 3em;
    padding: 10px;  
    background-color: rgb(24, 24, 58);  
    color: #f4f4f4;
    /*background-image:url("../images/topnavbar.jpeg");    
    background-size: cover;  */    
}

.aboutme{
    word-spacing: normal;
}

.topnavbarContent{
    position: relative;
    top: 50%;
}

.topnavbarLinks{
    position: relative;    
    float: right;
    word-spacing: 0.3em;
}

.topnavbarLinks a{
    color: #f4f4f4;
}

.topnavbarLinks a:hover{
    color: brown;
}

.homepage{        
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 10px;     
    width: 100%;
    height: 600px;
    padding: 10px;
    background-image: url("../images/homebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    line-height: 1em;
}

.myphoto{
    position: relative;
    float: left;
    border: 20px #ffffff solid;
    width: 30%;
    height:70%;
    top: 10%;
    left: 5%; 
    padding: 0px;   
    background-image: url("../images/me1.JPEG");
    background-size: cover;
}

.homecontent{
    position: relative;
    float: right;
    border: 20px rgb(63, 63, 63) solid;
    width: 40%;
    height:70%;
    top: 10%;
    right: 5%;    
    text-align: center;
    font-size: larger;    
    font-weight: 700;
    line-height: 2em;
    color: white;
    background-color: rgb(63, 63, 63);
}

.homecontent h1{
    font-size: 3em;
}

.homebutton{
    position: absolute;
    bottom: 3%;
    right: 50%;
    font-size: 1em;
}

.homebutton:hover{
    background-color: gray;
    color: white;
}

.homeaboutme{
    margin-top: 10px;
    border: 1px #f4f4f4 solid;    
    width: 100%;
    height: 3em;
    padding: 10px;    
    background-image:url("../images/topnavbar.jpeg");    
    background-size: cover; 
    text-align: center;
}

.homeaboutme h1{
    position: relative;
    bottom: 30%;
}

.professional{
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 30px;     
    width: 100%;
    height: 400px;
    padding: 10px;
    background-image: url("../images/professional.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    line-height: 1.5em;
    text-align: center;
}

.professional h2{
    font-weight: 1000;
    font-size: 1.5em;
}

.experience{
    float: left;
    width: 31%;
    text-align: left;
    padding: 0px 10px;
    margin: 10px;
    box-sizing: border-box;
    color: black;
    font-weight: 500;
    background-color: rgba(212, 211, 211, 0.6);  
    height: 73%;      
}


.education{
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 30px;     
    width: 100%;
    height: 400px;
    padding: 10px;
    background-image: url("../images/education.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    line-height: 1.5em;
    text-align: center;
}

.education h2{
    font-weight: 1000;
    font-size: 1.5em;
}

.schools{
    float: left;
    width: 31%;
    text-align: left;
    padding: 0px 10px;
    margin: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    color: black;
    font-weight: 500;
    background-color: rgba(174, 199, 182, 0.6);  
    height: 60%;      
}


.skills{
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 30px;     
    width: 100%;
    height: 400px;
    padding: 10px;
    background-image: url("../images/skills.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    line-height: 1.5em;
    text-align: center;
}

.skills h2{
    font-weight: 1000;
    font-size: 1.5em;
}

.projects{
    float: left;
    width: 48%;
    text-align: left;
    padding: 0px 10px;
    margin: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    color: black;
    font-weight: 500;
    background-color: rgba(146, 123, 101, 0.8);  
    height: 60%;      
}


.interests{
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 30px;     
    width: 100%;
    height: 400px;
    padding: 10px;
    background-image: url("../images/interests.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    line-height: 1.5em;
    text-align: center;
}

.interests h2{
    font-weight: 1000;
    font-size: 1.5em;
}

.interestlist{
    float: left;
    width: 70%;
    text-align: left;
    padding: 0px 10px;
    margin: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
    color: black;
    font-weight: 500;
    background-color: rgba(155, 154, 154, 0.7);  
    height: 30%;    
    position: relative;
    left:30%;     
}

.interestlist li{
    list-style-type: square;
    line-height: 2em;
}



.bottomnavbar {        
    border: 1px #f4f4f4 solid;   
    margin-top: 10px; 
    width: 100%;
    height: 3em;
    padding: 10px;    
    background-color: rgb(10, 10, 31);   
    text-align: center;   
}

.bottomnavbar a{
    color: #f4f4f4;
}

.bottomnavbar a:hover{
    color: brown;
}

.bottomnavbarContent{
    position: relative;
    top: 50%;
}


.socialmedia{
    position: fixed;
    left: 6%;
    top: 40%;
}

.socialmedia img:hover{
    opacity: 0.5;
}

.interestbold{
    font-weight: 600;
}


/*------------professional-------------*/

.p1page{        
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 10px;     
    width: 100%;
    height: 500px;
    padding: 10px;
    background-image: url("../images/professional.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.p1photo{
    position: relative;
    float: left;
    border: 20px #ffffff solid;
    width: 30%;
    height:70%;
    top: 10%;
    left: 5%; 
    padding: 0px;   
    background-image: url("../images/me1.JPEG");
    background-size: cover;
}

.p1content{
    position: relative;
    float: right;
    border: 20px rgba(212, 211, 211) solid;
    width: 40%;
    height:70%;
    top: 10%;
    right: 5%;    
    text-align: left;    
    font-weight: 500;
    line-height: 1.5em;
    color: black;
    background-color: rgba(212, 211, 211);
}


.p2page{        
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 20px;    
    width: 100%;
    height: 500px;
    padding: 10px;    
    color: black;
}

.p2photo{
    position: relative;
    float: right;
    border: 20px rgba(212, 211, 211) solid;
    width: 30%;
    height:70%;
    top: 10%;
    right: 5%; 
    padding: 0px;   
    background-image: url("../images/me1.JPEG");
    background-size: cover;
}

.p2content{
    position: relative;
    float: left;
    border: 20px rgba(212, 211, 211) solid;
    width: 40%;
    height:70%;
    top: 10%;
    left: 5%;    
    text-align: left;    
    font-weight: 500;
    line-height: 1.5em;
    color: black;
    background-color: rgba(212, 211, 211);
}

.p3page{        
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 10px;     
    width: 100%;
    height: 500px;
    padding: 10px;    
    color: black;
}

.p3photo{
    position: relative;
    float: left;
    border: 20px rgba(212, 211, 211) solid;
    width: 30%;
    height:70%;
    top: 10%;
    left: 5%; 
    padding: 0px;   
    background-image: url("../images/me1.JPEG");
    background-size: cover;
}
    
/*------------education-------------*/

.e1page{        
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 10px;     
    width: 100%;
    height: 500px;
    padding: 10px;
    background-image: url("../images/education.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.e1photo{
    position: relative;
    float: left;
    border: 20px #ffffff solid;
    width: 30%;
    height:70%;
    top: 10%;
    left: 5%; 
    padding: 0px;   
    background-image: url("../images/me1.JPEG");
    background-size: cover;
}

.e1content{
    position: relative;
    float: right;
    border: 20px rgba(174, 199, 182) solid;
    width: 40%;
    height:70%;
    top: 10%;
    right: 5%;    
    text-align: left;    
    font-weight: 500;
    line-height: 1.5em;
    color: black;
    background-color: rgba(174, 199, 182);
}


.e2page{        
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 20px;    
    width: 100%;
    height: 500px;
    padding: 10px;    
    color: black;
}

.e2photo{
    position: relative;
    float: right;
    border: 20px rgba(174, 199, 182) solid;
    width: 30%;
    height:70%;
    top: 10%;
    right: 5%; 
    padding: 0px;   
    background-image: url("../images/me1.JPEG");
    background-size: cover;
}

.e2content{
    position: relative;
    float: left;
    border: 20px rgba(174, 199, 182) solid;
    width: 40%;
    height:70%;
    top: 10%;
    left: 5%;    
    text-align: left;    
    font-weight: 500;
    line-height: 1.5em;
    color: black;
    background-color: rgba(174, 199, 182);
}

.e3page{        
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 10px;     
    width: 100%;
    height: 500px;
    padding: 10px;    
    color: black;
}

.e3photo{
    position: relative;
    float: left;
    border: 20px rgba(174, 199, 182) solid;
    width: 30%;
    height:70%;
    top: 10%;
    left: 5%; 
    padding: 0px;   
    background-image: url("../images/me1.JPEG");
    background-size: cover;
}

/*------------skills&projects-------------*/

.s1page{        
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 10px;     
    width: 100%;
    height: 600px;
    padding: 10px;
    background-image: url("../images/skills.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.s1photo{
    position: relative;
    float: left;
    border: 20px #ffffff solid;
    width: 30%;
    height:70%;
    top: 10%;
    left: 5%; 
    padding: 0px;   
    background-image: url("../images/me1.JPEG");
    background-size: cover;
}

.s1content{
    position: relative;
    float: right;
    border: 20px rgba(146, 123, 101) solid;
    width: 40%;
    height:70%;
    top: 10%;
    right: 5%;    
    text-align: left;    
    font-weight: 500;
    line-height: 1.5em;
    color: black;
    background-color: rgba(146, 123, 101);
}


.s2page{        
    position: relative;
    border: 1px #f4f4f4 solid;
    margin-top: 20px;    
    width: 100%;
    height: 600px;
    padding: 10px;    
    color: black;
}

.s2photo{
    position: relative;
    float: right;
    border: 20px rgba(146, 123, 101) solid;
    width: 30%;
    height:70%;
    top: 10%;
    right: 5%; 
    padding: 0px;   
    background-image: url("../images/me1.JPEG");
    background-size: cover;
}

.s2content{
    position: relative;
    float: left;
    border: 20px rgba(146, 123, 101) solid;
    width: 40%;
    height:70%;
    top: 10%;
    left: 5%;    
    text-align: left;    
    font-weight: 500;
    line-height: 1.5em;
    color: black;
    background-color: rgba(146, 123, 101);
}